/* Parametros */
@font-face {
    font-family: 'Aboreto';
    src: url('../fuentes/Aboreto/Aboreto-Regular.ttf') format('truetype'),
         url('../fuentes/Aboreto/Aboreto-Regular.woff2') format('woff2'),
         url('../fuentes/Aboreto/Aboreto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fuentes/Roboto/Roboto-Bold.ttf') format('truetype'),
         url('../fuentes/Roboto/Roboto-Bold.woff2') format('woff2'),
         url('../fuentes/Roboto/Roboto-Bold.woff') format('woff');
}

  

/* fin de Paramentros */



/* Variables */
:root{
    --fuente-titulo:'Roboto', sans-serif;
    --fuente-cuerpo:'Aboreto', cursive;
    --peso-titulo: 900;
    --peso-cuerpo: 600;
    --size-h1: 30px;
    --size-h2: 26px;
    --size-h3: 16px;
    --size-cuerpo: 13px;
    --color-principal:#f3f0f0;
    --color-negro:black; 
    --color-verde:#03c147;
    --color-celeste:#5cb6eb;
    --color-amarilla:#fed001;
    --color-naranja:#fe8a3d;
    --color-rojo:#d92e1c;
    --color-rosa:#dea6af;
    --color-lila:#7649be;
    --color-azul:#214287;
    --padding-web: 4%;
    --margin-left: 20px;
    --border:10px solid black;
    --transition: all 0.3s linear;

  /* paleta alternativa */
  --col0r-rojo:#d92e1c;
  --col0r-verde:#098023;
  --col0r-naranja:#FF7F50;
  --col0r-azul:#274fc4;
  --col0r-amarillo:#FFD700;
  --col0r-rosa:#FFD1DC;
  --col0r-lila:#7649be;  
  }
  /* Normalizadores */
  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  body{
    overflow-x: hidden !important;
  }
  h1, h2, h3, h4, h5, h6{
    font-family: var(--fuente-titulo);
    font-weight: var(--peso-titulo);
  }
  h1, h4{
    font-size: var(--size-h1);
  }
  h2, h5{
    font-size: var(--size-h2);
  }
  h3, h6{
    font-size: var(--size-h3);
  }
  p{
    font-family: var(--fuente-titulo);
    font-weight: var(--peso-cuerpo);
    font-size: var(--size-cuerpo);
  }
  li{
    font-family: var(--fuente-cuerpo);
    font-weight: var(--peso-cuerpo);
    font-size: var(--size-cuerpo);
    color: var(--color-secundario);
    margin: 20px;
    list-style: none;
  }
  a{
    font-family: var(--fuente-titulo);
    text-decoration: none;
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button{
    width: 150px;
    height: 50px;
    background-color: var(--color-negro);
    color: var(--color-principal);
    font-family: var(--fuente-cuerpo);
    border: none;
    background-color: transparent;
    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .botonCuadro{
    width: 150px;
    height: 50px;
    background-color:black;
    color: var(--color-principal);
    letter-spacing: 2px;
  }
  span{
    font-family: var(--fuente-titulo);
    font-weight: var(--peso-titulo);
    font-size: 18px;
  }
  a{
    color: var(--color-principal);
  }
  /*
=============== 
Navbar
===============
*/
.noLogo{
  display: none;
}
.nav-header {
  width: 100%;
  height: 60px;
  background-color: var(--color-negro);
  /* flex */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  width: 2rem;
  font-size: 1.5rem;
  color: var(--color-principal);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--color-verde);
  transform: rotate(90deg);
}
.logo {
  font-size: 16px;
  color: var(--color-principal);
}
.links a {
  color: var(--color-principal);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  color: var(--color-principal);
  padding-left: 1.5rem;
}
.links {
  height: 0;
  z-index: 1;
  overflow: hidden;
  transition: var(--transition);
  background-color: var(--color-negro);
}
.show-links {
  height: 12rem;
}
@media screen and (min-width: 100%) {
  .nav-center {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}
/* titulo */
.cajaTitulo{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo{
  width: 100%;
  padding: 4%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--color-negro);
  color: var(--color-principal);
}
/* cuadros */
.cuadro1{
  width: 100%;
  line-height: 1.5;
  background-color:var(--color-naranja);
  color: var(--color-negro);
  border: var(--border);
  border-top: 0;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: start;
}
.cuadro1 h2, .texto, .contenedorBotonCuadro{
  padding: var(--padding-web);
}
.cuadro2{
  background-color: var(--col0r-azul);
}
.cuadro3{
  background-color: var(--color-amarilla);
}
.cuadro4{
  background-color: var(--color-rosa);
}
/* carrousel */
.cuadroImg{
  border: var(--border);
  border-top: 0;
}
.carousel-cell{
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center center;
}
.carousel-cell img{
  max-width: 100%;
}
/* menu lateral animacion */
.list{
  border: var(--border);
  border-top: 0;
  padding: var(--padding-web);
  bottom: var(--border);
  background-color: var(--color-azul);
  text-align: center;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-item {
  font-size: 30px;
  color: var(--col0r-amarillo);
  opacity: 0;
  transition: opacity 0.5s ease;
  transform: translateX(-50px); /* Mueve inicialmente los elementos 50px a la izquierda */
}
.list-item.show {
  opacity: 1;
  transform: translateX(0); /* Devuelve los elementos a su posición original */
}
.listadoProyectos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.listadoProyectos li a{
  padding: 5px;
  background-color: var(--col0r-verde);
  color: var(--color-negro);
  font-size: 23px;
}
.listadoProyectos li a:hover{
  background-color: var(--color-azul);
  color: var(--col0r-rosa);
}
.listadoContacto{
  padding: var(--padding-web);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
/* separador */
.aparte{
  width: 100%;
  height: 50px;
  background-image: url(../imagenes/separador1.jpg);
  background-size: cover;
  border: var(--border);
  border-top: 0;
}
.aparte2{
  width: 100%;
  height: 60px;
  background-image: url(../imagenes/diagonal-2724646_1280.jpg);
  background-size: cover;
  border: var(--border);
  border-top: 0;
}
/* animacion circulo */
.contenedorCircle{
  width: 100%;
  height: 300px;
  background-color: var(--color-rojo);
  border: var(--border);
  border-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle{
  position: relative;
  width: 200px;
  height: 200px ;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text{
  width: 100%;
  height: 100%;
  position: absolute;
  animation:anim 10s linear infinite;
}
@keyframes anim{
  0%{
    transform: rotate(0def);
  }
  100%{
    transform: rotate(360deg);
  }
}
.text span{
  position: absolute;
  left: 50%;
  font-size:  1.2em;
  transform-origin: 0 100px;
}
/* animacion texto infinito */
.textAnimation, .textAnimationTres{
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color:var(--col0r-verde);
  border: var(--border);
  border-top: 0;
  overflow: hidden;
}
.textAnimationTres{
  background-color: var(--col0r-verde);
}
.textoAnimationP, .textoAnimationTresP, .textoAnimationDosP{
  font-family: var(--fuente-titulo);
  font-size: 50px;
  text-transform: uppercase;
  color: var(--color-negro);
  -webkit-text-stroke-width:0.1px ;
  -webkit-text-stroke-color: #fff;
  white-space: nowrap;
  padding: 1rem;
  letter-spacing: 1px;
  animation: move-rtl 6000ms linear  infinite;
}
.textoAnimationTresP{
  color: var(--color-negro);
}
@keyframes move-rtl {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}
.textoAnimationDosP{
  animation:  move-rtlI 6000ms linear  infinite;
}
/* dos y cuarto */
.textAnimationDos, .textAnimationCuarto{
  height: 100px;
  align-items: center;
  background-color:var(--color-verde);
  border: var(--border);
  border-top: 0;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
.textAnimationCuarto{
  background-color: var(--col0r-verde);
}
@keyframes move-rtlI {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}
/* fin texto infinito */
/* contacto */
.cuadroContactoDos{
  border: var(--border);
  border-top: 0;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.cuadroContactoDos h2{
  padding: var(--padding-web);
}
.cuadroContactoDosUno{
  background-color: var(--color-lila);
}
.cuadroContactoDosDos{
  height: 300px;
  background-color:var(--color-azul);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cuadroContactoDosDos h2{
  color: var(--color-amarilla);
  font-size: 32px;
}
/* botones redes */
.botonesRedes{
  border: var(--border);
  border-top: 0;
  display: flex;
  flex-wrap: wrap; 
}
.botonRedes{
  width: 50%;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botonRedes button{
  font-weight: 600;
  color: var(--color-negro);
  font-family: var(--fuente-titulo);
  font-size: 25px;
  font-size: 900;
}
.br1{
  background-color: var(--color-naranja);
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
.br2{
  background-color: var(--color-rojo);
  border-left: 3px solid black;
  border-bottom: 3px solid black;

}
.br3{
  background-color: var(--col0r-verde);
  border-right: 3px solid black;
  border-top: 3px solid black;
}
.br4{
  background-color: var(--color-amarilla);
  border-left: 3px solid black;
  border-top: 3px solid black;
}
footer{
  width: 100%;
  height: 70px;
  padding: var(--padding-web);
  text-align: center;
  background-color: var(--color-negro);
  color: var(--color-principal);
  display: flex;
  justify-content: center;
  align-items: center;
}
















/* Responsive */
@media (min-width: 768px){
  :root{
    --peso-titulo: 900;
    --peso-cuerpo: 600;
    --size-h1: 70px;
    --size-h2: 40px;
    --size-h3: 22px;
    --size-cuerpo: 16px;
    --border:15px solid black;

  }
  /* Normalizadores */
  h1, h2, h3, h4, h5, h6{
    font-family: var(--fuente-titulo);
    font-weight: var(--peso-titulo);
  }
  h1, h4{
    font-size: var(--size-h1);
  }
  h2, h5{
    font-size: var(--size-h2);
  }
  h3, h6{
    font-size: var(--size-h3);
  }
  p{
    font-family: var(--fuente-titulo);
    font-weight: var(--peso-cuerpo);
    font-size: var(--size-cuerpo);
  }
  li{
    font-family: var(--fuente-cuerpo);
    font-weight: var(--peso-cuerpo);
    font-size: var(--size-cuerpo);
    color: var(--color-secundario);
    margin: 20px;
    list-style: none;
  }
  button{
    width: 150px;
    height: 50px;
    background-color: var(--color-negro);
    color: var(--color-principal);
    font-family: var(--fuente-cuerpo);
    border: none;
    background-color: transparent;
  }
  .botonCuadro{
    width: 150px;
    height: 50px;
    letter-spacing: 3px;
  }
  span{
    font-size: 22px;
  }

 

 /*
=============== 
Navbar
===============
*/

nav {
  width: 100%;
  height: 40px;
  background: var(--color-negro);
}
.links{
  display: none;

}
.nav-header {
  height: 70px;
  /* flex */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
 display: none;
}
.noLogo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.linksNoLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.linksNoLogo a {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
}
/* titulo */
.cajaTitulo{
  text-align: center;
}
.titulo{
  text-transform: capitalize;

}
/* cuadros */
.cuadro1, .cuadro2, .cuadro3, .cuadro4{
  height: 500px;
}
/* carrousel */
.carousel-cell{
  height: 400px;
}
/* menu lateral animacion */
.list{
  background-color: var(--color-lila);
  /* flex */
}
.list-item {
  font-size: 70px;
  transition: opacity 1.5s ease;
}
/* animacion circulo */
.contenedorCircle{
  height: 400px;
  background-color: var(--color-rojo);
}
.circle{
  position: relative;
  width: 200px;
  height: 200px ;
}
.text span{
  font-size:  1.2em;
}
/* animacion texto infinito */
.textAnimation, .textAnimationTres{
  border: var(--border);
  border-top: 0;
}
.textoAnimationP, .textoAnimationTresP, .textoAnimationDosP{
  height: 150px;
  font-size: 80px;
  background-color: var(--color-celeste);
  font-family: var(--fuente-titulo);
  color: var(--color-negro);
  padding: 0rem;
  padding-top: 2rem;
  letter-spacing: 3px;
}

/* dos */
.textAnimationDos{
  border: var(--border);
  border-top: 0;
}
/* fin texto infinito */
/* botones redes */


.cuadroContactoDos{
  width: 100%;
  height: 500px;
  background-color: var(--color-azul);
  border: var(--border);
  border-top: 0;
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.cuadroContactoDosUno h2{
  color: var(--color-principal);
}
.cuadroContactoDosDos h2{
  padding: var(--padding-web);
}
.cuadroContactoDosDos{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuadroContactoDosDos h2{

  font-size: 60px;
}
.cuadroContactoDosUno{
  border-right: 9px solid black;
}
.cuadroContactoDosDos{
  background-color: var(--color-lila);
  border-left: 9px solid black;
}

/* botones redes */
.botonRedes{
  height: 70px;
}
.br1{
  background-color: var(--color-amarilla);
  border-right: 8px solid black;
  border-bottom: 8px solid black;
}
.br2{
  background-color: var(--color-rosa);
  border-left: 8px solid black;
  border-bottom: 8px solid black;

}
.br3{
  background-color: var(--color-rojo);
  border-right: 8px solid black;
  border-top: 8px solid black;


}
.br4{
  background-color: var(--color-verde);
  border-left: 8px solid black;
  border-top: 8px solid black;
}






}





@media (min-width: 1024px){
  :root{
    --peso-titulo: 900;
    --peso-cuerpo: 600;
    --size-h1: 9vw;
    --size-h2: 40px;
    --size-h3: 22px;
    --size-cuerpo: 25px;
    --border:18px solid black;
  }
  /* Normalizadores */
  button{
    font-size: 20px;
    height: 60px;
  }
  .botonCuadro{
    height: 60px;
    letter-spacing: 5px;
  }
  span{
    font-size: 25px;
  }


 /*
=============== 
Navbar
===============
*/
.noLogo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.logo{
  font-size: 25px;
}
.linksNoLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.linksNoLogo a {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
}
/* titulo */
.cajaTitulo{
  height: 150px;
  text-align: center;
}
.cajaTitulo h1{
  padding: 0;
}
/* cajas */
.primerBloque, .segundoBloque, .tercerBloque, .cuartoBloque, .quintoBloque{
  width: 100%;
  height: 90vh;
/* flex */
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuadro1{
  width: 50%;
  height: 90vh;
  border-right: 9px solid black;
}
.cuadro3{
  background-color: var(--col0r-naranja);
}
.cuadro3 .texto{
  padding-bottom: 100px;
}
.cuadro3 .texto ul li a{
  font-size: 30px;
}
.cuadroImg{
  width: 50%;
  height: 90vh;
  border-left: 9px solid black;
}

/* aparte */
.aparte{
  height: 75px;
}
/* carrousel */
.carousel-cell{
  height: 90vh;
  border-bottom: var(--border);
}
/* menu lateral animacion */
.list{
  height: 100vh;
  background-color: var(--color-azul);
  /* flex */
  align-items: center;
  justify-content: center;
}
.list-item {
  color: var(--color-principal);
  font-family: var(--fuente-titulo);
  font-size: 100px;
  transition: opacity 3s ease;
}

/* circulo */
.contenedorCircle{
  display: none;
}
/* animacion texto infinito */
.textAnimation, .textAnimationTres{
  border: var(--border);
  border-top: 0;
}
.textoAnimationP, .textoAnimationTresP, .textoAnimationDosP{
  height: 200px;
  font-size: 80px;
  background-color: var(--color-amarilla);
  font-family: var(--fuente-titulo);
  color: var(--color-negro);
  padding: 0rem;
  padding-top: 3.5rem;
  letter-spacing: 3px;
}
/* fin texto infinito */
/* contacto */
.cuadroContactoDos{
  height: 90vh;
}

/* botones redes */
.botonRedes{
  width: 25%;
  height: 150px;
  border: 10px solid black;
}
.br1{
  background-color: var(--color-naranja);
  border-left: 0;
}
.br2{
  background-color: var(--color-rosa);

}
.br3{
  background-color: var(--color-celeste);

}
.br4{
  background-color: var(--color-amarilla);
  border-right: 0;
}








}